<template name="HomePublic">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> HomePublicHomeJumbotron}}
	</div>
</template>

<template name="HomePublicHomeJumbotron">
	<div class="jumbotron ">
		<div id="content" class="container">
			<h1 id="component-title">
				Example application
			</h1>
			<p id="jumbotron-text">
				<b>This <a href="https://www.meteor.com" target="_blank">Meteor</a> application is made with <a href="http://www.meteorkitchen.com" target="_blank">meteor-kitchen</a> without manual coding.</b><br />It demonstrates how to create application with login, register and forgot password functions.<br />Source code (input file for generator) is <a href="https://github.com/perak/kitchen-examples/tree/master/example-accounts" target="_blank">here</a>.
			</p>
			<p id="jumbotron-button">
				<a href="#" class="btn btn-primary btn-lg" role="button">
					Continue &raquo;
				</a>
			</p>
		</div>
	</div>
</template>

